CREATE TABLE norwayLastNameSubstitution(
	[LastName] [varchar](10) NOT NULL,
	[ID] [int] NULL)

INSERT [dbo].[norwayLastNameSubstitution] ([LastName], [ID]) VALUES (N'Aaberg', 1)
INSERT [dbo].[norwayLastNameSubstitution] ([LastName], [ID]) VALUES (N'Aaby', 2)
INSERT [dbo].[norwayLastNameSubstitution] ([LastName], [ID]) VALUES (N'Aadland', 3)
GO
