CREATE TABLE norwayFirstNameMale(
	[FirstName] [varchar](100) NOT NULL,
	[ID] [int] NULL)

INSERT [dbo].[norwayFirstNameMale] ([FirstName], [ID]) VALUES (N'*Ásfriðr', 1)
INSERT [dbo].[norwayFirstNameMale] ([FirstName], [ID]) VALUES (N'*Einvaldr', 2)
INSERT [dbo].[norwayFirstNameMale] ([FirstName], [ID]) VALUES (N'*Fraujawaru', 3)
GO
