CREATE TABLE [dbo].[norwayFirstNameFemale](
	[FirstName] [varchar](100) NOT NULL,
	[ID] [int] NULL)
INSERT [dbo].[norwayFirstNameFemale] ([FirstName], [ID]) VALUES (N'Aacine', 1)
INSERT [dbo].[norwayFirstNameFemale] ([FirstName], [ID]) VALUES (N'Aadel', 2)
INSERT [dbo].[norwayFirstNameFemale] ([FirstName], [ID]) VALUES (N'Aadny', 3)
GO
