CREATE TABLE norwayFirstNameUnisex(
	[FirstName] [varchar](100) NOT NULL,
	[ID] [int] NULL)

INSERT [dbo].[norwayFirstNameUnisex] ([FirstName], [ID]) VALUES (N'Aaste', 1)
INSERT [dbo].[norwayFirstNameUnisex] ([FirstName], [ID]) VALUES (N'Abbi', 2)
INSERT [dbo].[norwayFirstNameUnisex] ([FirstName], [ID]) VALUES (N'Abel', 3)
GO
